
* {
 	box-sizing: border-box;
 	font-family: Helvetics, sans-serif;
}

body{
	background-color: #001437;
}

h1 {
	margin-top: 50px;
 	margin-bottom: 50px;
 	text-align: center;
 	color: #3CB9FC;
 	font-size: 30px;
}

.row{
	width: 100%;
}

/*refers to the text-boxes*/

#box{
	border: 1px solid black;
	background-color: #8A2BE2;
	width: 95%;
	height: 275px;
	color: #001437;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}

#box-3{
	border: 1px solid black;
	background-color: #8A2BE2;
	width: 95%;
	height: 275px;
	color: #001437;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}

/*refers to the subtitles*/

#titulo1{
	height: 30px;
	width: 100px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #00FFFF;
	color: #0033FF;
	font-size: 15px;
	position: relative;
	text-align: center;
	margin-top: 0px;
	padding: 5px;
	float: right;
}

#titulo2{
	height: 30px;
	width: 100px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #00FF66;
	color: black;
	font-size: 15px;
	position: relative;
	text-align: center;
	margin-top: 0px;
	padding: 5px;
	float: right;
}

#titulo3{
	height: 30px;
	width: 100px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #FFFF00;
	color: #9900FF;
	font-size: 15px;
	position: relative;
	text-align: center;
	margin-top: 0px;
	padding: 5px;
	float: right;
}

/*refers to the paragraphs*/

#parágrafo{
	padding: 5%;
	margin-top: 35px;
	text-align: justify;
}

a{
	text-decoration: none;
}

@media (min-width: 992px) {
	.col-lg-4{
    	float: left;
    	border: none;
  	}
	.col-lg-4{
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#box-3{
		width: 97.5%;
	}
	.col-md-6{
    	float: left;
    	border: none;
  	}
  	.col-md-12{
  		float: left;
    	border: none;
    	margin-top: 20px;
  	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-12{
		float: left;
    	border: none;
    	margin-top: 20px;
	}
	#box{
		width: 97.5%;
	}
	#box-3{
		width: 97.5%;
	}
	.col-sm-12{
		width: 100%;
	}
}